@import "../../styles/mantine";
@import "../../styles/variables";
@import "../../styles/mixins";

.hero_wrapper {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;

  .content {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 25vh;

    &_title {
      font-size: rem(30px);
      font-weight: map-get($map: $font-weights, $key: "small");

      @include light-dark('color', var(--mantine-color-dark), var(--mantine-color-white));

      @include larger-than($mantine-breakpoint-lg) {
        font-size: rem(40px);
      }
    }

    &_description {
      font-weight: map-get($map: $font-weights, $key: "regular");
      font-size: rem(20px);
      color: $ocean-blue;

      @include larger-than($mantine-breakpoint-lg) {
        font-size: rem(30px);
      }
    }
  }
}