@import '../../styles/mantine';

.wrapper {
  box-sizing: border-box;
  height: 80vh;
  background-color: #3a4d39;
  font-size: rem(60px);
  color: white;
}

.inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding-top: rem(200px);
  padding-bottom: rem(120px);

  @media (max-width: $mantine-breakpoint-sm) {
    padding-bottom: rem(80px);
    padding-top: rem(80px);
  }

  .title {
    text-align: center;
    font-size: rem(72px);
    font-weight: 900;
    line-height: 1.3;
  }

  .description {
    text-align: center;
    margin-inline: rem(50px);
    margin-top: var(--mantine-spacing-xl);
    font-size: rem(24px);

    @media (max-width: $mantine-breakpoint-sm) {
      font-size: rem(18px);
    }


  }

  .visuals {
    display: flex;
    justify-content: center;
    margin-top: rem(100px);
  }

  .controls {
    align-items: center;
  }
}