@import url('https://fonts.googleapis.com/css2?family=Figtree:wght@300;400;500;600;700&display=swap');

@font-face {
    font-family: 'Grotesk';
    src: url('../assets/fonts/Founders_Grotesk/');
}
$highlight-color: rgb(40, 118, 219);
$FoundersGrotesk: 'Grotesk', sans-serif;
$Figtree: 'Figtree', sans-serif;