@import "../../styles/mantine";

.wrapper {
  /* General wrapper styles */
}

.grid {
  display: grid;
  grid-gap: 30px;

  grid-template-columns: repeat(1, 1fr);

  @include larger-than($mantine-breakpoint-md) {
    grid-template-columns: repeat(3, 1fr);
  }
}
