@import "../../styles/mantine";

.wrapper {}

.grid {
  display: grid;

  justify-content: center;
  align-items: center;
  grid-gap: 30px;
  grid-template-columns: repeat(1, 1fr);

  @include larger-than($mantine-breakpoint-md) {
    grid-template-columns: repeat(3, 1fr);
  }

  .card_container {}
}