@import "../../styles/mantine";
@import "../../styles/variables";
@import "../../styles/mixins";

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: rem(80px);
  padding: rem(20px);
  position: fixed;
  z-index: 1000;

  @include light {
    background-color: var(--mantine-color-white);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }

  @include dark {
    background-color: var(--mantine-color-dark-7);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
}

.brand {
  text-decoration: none;
  line-height: 0;
  color: inherit;
  cursor: pointer;

  @include light {
    color: var(--mantine-color-dark-7);
  }

  @include dark {
    color: var(--mantine-color-white);
  }
}

.link_list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;

  &_item {
    position: relative;
    display: inline;
    padding: rem(10px);
    height: 100%;
    color: inherit;
    cursor: pointer;

    .link {
      z-index: 20;
      font-weight: map-get($map: $font-weights, $key: "regular");
      font-size: rem(16px);
      text-decoration: none;
      cursor: pointer;

      @include larger-than($mantine-breakpoint-md) {
        margin: 0 10px;
      }
    }

    &::after {
      content: "";
      position: absolute;
      left: 50%;
      bottom: -2px;
      width: 0px;
      height: 2px;
      @include light-dark(background-color, $skyblue, $ocean-blue);
      transition: all 0.2s;
    }

    &:hover::after {
      width: 100%;
      left: 0;
    }

    &_link::after{
      text-decoration: none;
    }

    @include hover {
      @include light-dark(color, $skyblue, $ocean-blue);
      transition: ease-in-out 0.2s;
    }
  }
}

.burger_icon {
  @include larger-than($mantine-breakpoint-xs) {
    display: none;
  }

  @include light {
    color: var(--mantine-color-dark-7);
  }

  @include dark {
    color: var(--mantine-color-white);
  }

  cursor: pointer;
  transition: color 0.3s ease;
}

.drawer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  @include larger-than($mantine-breakpoint-sm) {
    display: none;
    width: 0;
  }

  &_item {
    text-decoration: none;
    padding: rem(10px) !important;
    border-radius: rem(5px);
    text-align: center;
    font-size: rem(20px) !important;
    font-weight: map-get($map: $font-weights, $key: "regular") !important;
    font-family: $Figtree !important;

    @include hover {
      @include light-dark(background-color, $skyblue, $ocean-blue);
      transition: ease-in-out 0.2s;
    }
  }

  &_header {
    display: flex;
    justify-content: center;
    align-items: center;

    &_title {
      margin-top: rem(10px) !important;
      font-size: rem(30px) !important;
      font-family: $FoundersGrotesk !important;
      font-weight: map-get($map: $font-weights, $key: "small") !important;
    }
  }
}
