@import "../../styles/mantine";
@import "../../styles/variables";

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: rem(60px);
  padding: rem(10px);
  position: fixed;
  z-index: 1000;

  @include light {
    background-color: var(--mantine-color-white);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  @include dark {
    background-color: var(--mantine-color-dark-7);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
}


.brand {
  text-decoration: none;
  color: inherit;
  cursor: pointer;

  @include light {
    color: var(--mantine-color-dark-7);
  }

  @include dark {
    color: var(--mantine-color-white);
  }
}

.link_container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: inherit;
  gap: 5px;
  text-decoration: none;
  cursor: pointer;

  @include hover {
    color: $highlight-color;
    transition: ease-in-out 0.2s;

    .icon_up {
      transform: rotate(180deg);
    }
  }

  @include larger-than($mantine-breakpoint-md) {
    margin: 0 10px;
  }
}

.icon_up {

  @include hover {
    transform: rotate(180deg);
  }
}

.action_btn {
  button {
    font-weight: 400;
  }
}

.drawer_title {
  justify-content: center;
}

.burger_icon {
  @include light {
    color: var(--mantine-color-dark-7);
  }

  @include dark {
    color: var(--mantine-color-white);
  }

  cursor: pointer;
  transition: color 0.3s ease;
}

.drawer_link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: inherit;
  padding: rem(10px);
  text-decoration: none;
  cursor: pointer;

  @include hover {
    background-color: $highlight-color;
    transition: ease-in-out 0.2s;
  }
}