@import "../../styles/mantine";
@import "../../styles/variables";

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: rem(60px);
  padding: rem(10px);
  position: fixed;
  z-index: 1000;

  @include light {
    background-color: var(--mantine-color-white);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }

  @include dark {
    background-color: var(--mantine-color-dark-7);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); 
  }
}


.brand {
  display: flex;
  align-items: center;
  gap: 5px;
  color: inherit;
  cursor: pointer;
}

.link_container {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: inherit;
  padding: 10px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 5px;

  @include hover {
    color: $highlight-color;
    transition: ease-in-out 0.2s;

    .icon_up {
      transform: rotate(180deg);
    }
  }


}

#icon_up {
  transition: transform 0.3s ease;

  @include hover {
    transform: rotate(180deg);
  }
}

.action_btn {
  button {
    font-weight: 400;
  }
}

.drawer_title {
  justify-content: center;
}